[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paramiko = "*"
"pyside2" = "*"
ipython = "*"
pytest = "*"
pytest-qt = "*"
pytest-xdist = "*"
pyyaml = "*"
python-box = "*"

[dev-packages]

[requires]
python_version = "3.6"
