[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fabric = "*"
paramiko = "*"
pystache = "*"
"pyside2" = "*"
nose = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.6"
