[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pyside2" = "*"
ipython = "*"
pytest = "*"
pytest-qt = "*"
pytest-xdist = "*"
pyyaml = "*"
python-box = "*"
libsubmit = {ref = "master", git = "https://github.com/M4rkD/libsubmit.git"}

[dev-packages]

[requires]
python_version = "3.6"
